.processing {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.processing__container {
    color: white;
    font-size: 2rem;
    border: 0.2rem solid white;
}

.processing-active {
    visibility: visible;
}