.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 0.2rem solid white;
    cursor: pointer;
}

.button-action {
    background-color: #333333;
    color: white;
}

.button-default {
    background-color: #dddddd;
    color: #333333;
}

.button:hover {
    filter: brightness(85%);
}