.dialog {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog__container {
    /* border: 0.2rem solid white; */
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "message message""dismiss confirm";
    background-color: var(--card-color);
}

.dialog__message {
    grid-area: message;
    color: var(--text-color);
    font-size: 2rem;
    padding: var(--padding);
    display: flex;
    justify-content: center;
}

.dialog__dismiss {
    grid-area: dismiss;
    display: flex;
    justify-content: flex-start;
    padding: var(--padding);
}

.dialog__confirm {
    grid-area: confirm;
    display: flex;
    justify-content: flex-end;
    padding: var(--padding);
}

.dialog-active {
    visibility: visible;
}