.recepy__item {
    display: flex;
    color: white;
    font-size: 2rem;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid white;
    height: 2rem;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.recepy__item:hover {
    background-color: blueviolet;
}