.recipe__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 33rem;
}

.recipe__list--admin {
    background-color: var(--card-color-hover);
}